@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-6">Welcome</h1>
    <h2 class="display-1">TodoList App</h2>
    <p>You can organize your daily Task with this app. The operations supported are Create, Read, Update, and Delete Task</p>
    <p>Start Organize your Task with <a href="/Task">TodoList</a>.</p>
</div>
