@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>All task that you enter in this web app will be publicly accessible. So ensure that you do not enter any personal information.</p>
